
<html>

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title><% if(logos.length){%><%= logos[0].title %><% } %>-后台管理</title>


<link type="text/css" rel="stylesheet" href="/admin/css/init.css">
<link type="text/css" rel="stylesheet" href="/admin/css/style.css">
<link type="text/css" rel="stylesheet" href="/admin/css/index.css">

<body>
<header class="header">
	<div class="logos">
        <img src="<% if(logos.length){%><%= logos[0].pic %><% } %>" alt="">
        <span>--后台管理页面</span>
	</div>
	<nav class="nav">
		<ul>
			<li><a href="/admin">首页</a></li>	
			<li><a href="/admin/product">企业</a></li>	
			<li><a href="/admin/news">新闻</a></li>	
			<li><a href="">关于我们</a></li>	
			<li><a href="">招贤纳士</a></li>	
		</ul>
	</nav>
</header>
<section class="warp">
    <div class="sidebar">
        <h3>内容管理</h3>
        <ul>
            <li>企业logo</li>
            <li>banner</li>
            <li>我们为您提供的服务</li>
            <li>关于我们</li>
            <li>使用领域</li>
            <li>我们的服务</li>
        </ul>
    </div>

    <div class="logo program">
        <h3 class="title">企业logo</h3>
        <div class="list">
            <div><b>最后更新时间：</b><span></span> </div>
            <div> 
                <b>网站标题：</b> 
                <span contenteditable="true" class="title content">
                    <% if(logos.length){%>
                            <%= logos[0].title %>
                    <% } %>
                </span>
            </div>
            <div> 
                <b>网站介绍：</b> 
                <div 
                contenteditable="true" 
                class="intro content">
                    <% if(logos.length){%>
                            <%= logos[0].intro %>
                    <% } %>
                </div>
            </div>
            <div class="upload_form">
                <a href="javascript:;" class="file_box">
                    <input class="selectPic" type="file">
                    <img src="<% if(logos.length){%><%= logos[0].pic %><% } %>" 
                    alt="">
                    <span>点 击 更 换 图 片</span>
                </a>
            </div>
            <div>注：请上传（112px*22px）png格式的logo</div>
            <div class="set">
                <ul>
                    <li  class="update" 
                    data_id="<% if(logos.length){%><%= logos[0]._id %><% } %>">
                    <% if(logos.length){ %>更新<% } else{%>发布<% }%>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="banner program">
        <h4 class="title">banner</h4>
        <div class="add">＋</div>
            <ul>
                <% if(banners.length){
                    banners.forEach(function(banner){ %>
                        <li class="list">
                            <div><b>最后更新时间：</b><span><%= moment(banner.meta.updateAt).format('MM-DD') %></span> </div>
                            <div> 
                                <b>名称：</b> 
                                <span contenteditable="true" class="title content"><%= banner.title %></span>
                            </div>
                            <div> 
                                <b>排序：</b> 
                                <div contenteditable="true" class="number content"><%= banner.number %></div>
                            </div>
                            <div> 
                                <b>链接：</b> 
                                <div contenteditable="true" class="link content"><%= banner.link %></div>
                            </div>
                            <div class="upload_form">
                                <a href="javascript:;" class="file_box">
                                    <input class="selectPic" type="file"/>
                                    <div class="coverPic" style="background-image: <%= banner.pic %>"></div>
                                    <span>点 击 更 换 图 片</span>
                                </a>
                            </div>
                            <div class="set">
                                <ul>
                                    <li  class="update" data_id="<%= banner._id %>">更新</li>
                                    <li class="del" data_id="<%= banner._id %>">删除</li>
                                </ul>
                            </div>
                        </li>
                    <% })
                } %>
            </ul>
    </div>

    <div class="productType program">
        <h4 class="title">产品系列</h4>
        <div class="add">＋</div>
            <ul>
                <% if(productTypes.length){
                    productTypes.forEach(function(productType){ %>
                        <li class="list">
                            <div><b>最后更新时间：</b><span><%= moment(productType.meta.updateAt).format('MM-DD') %></span> </div>
                            <div> 
                                <b>系列名：</b> 
                                <span contenteditable="true" class="title content"><%= productType.title %></span>
                            </div>
                            <div> 
                                <b>型号：</b> 
                                <div contenteditable="true" class="intro content"><%= productType.intro %></div>
                            </div>
                            <div class="upload_form">
                                <a href="javascript:;" class="file_box">
                                    <input class="selectPic" type="file"/>
                                    <div class="coverPic" style="background-image: <%= productType.pic %>"></div>
                                    <span>点 击 更 换 图 片</span>
                                </a>
                            </div>
                            <div class="set">
                                <ul>
                                    <li  class="update" data_id="<%= productType._id %>">更新</li>
                                    <li class="del" data_id="<%= productType._id %>">删除</li>
                                </ul>
                            </div>
                        </li>
                    <% })
                } %>
            </ul>
    </div> 

    <div class="about program">
        <h3 class="title">关于我们</h3>
        <div class="list">
            <div><b>最后更新时间：</b><span></span> </div>
            <div> 
                <b>项目名称：</b> 
                <span contenteditable="true" class="title content">
                    <% if(abouts.length){%>
                            <%= abouts[0].title %>
                    <% } %>
                </span>
            </div>
            <div> 
                <b>内容介绍：</b> 
                <div 
                contenteditable="true" 
                class="intro content">
                    <% if(abouts.length){%>
                            <%= abouts[0].intro %>
                    <% } %>
                </div>
            </div>
            <div class="upload_form">
                <a href="javascript:;" class="file_box">
                    <input class="selectPic" type="file">
                    <div 
                    class="coverPic" 
                    style="background-image:<% if(abouts.length){%><%= abouts[0].pic %><% } %>"></div>
                    <span>点 击 更 换 图 片</span>
                </a>
            </div>
            <div class="set">
                <ul>
                    <li  class="update" 
                    data_id="<% if(abouts.length){%><%= abouts[0]._id %><% } %>">
                    <% if(abouts.length){ %>更新<% } else{%>发布<% }%>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="scope program">
        <h3 class="title">使用领域</h3>
        <div class="list">
            <div><b>最后更新时间：</b><span></span> </div>
            <div> 
                <b>项目名称：</b> 
                <span contenteditable="true" class="title content">
                    <% if(scopes.length){%>
                            <%= scopes[0].title %>
                    <% } %>
                </span>
            </div>
            <div> 
                <b>内容介绍：</b> 
                <div 
                contenteditable="true" 
                class="intro content">
                    <% if(scopes.length){%>
                            <%= scopes[0].intro %>
                    <% } %>
                </div>
            </div>
            <div class="upload_form">
                <a href="javascript:;" class="file_box">
                    <input class="selectPic" type="file">
                    <div 
                    class="coverPic" 
                    style="background-image:<% if(scopes.length){%><%= scopes[0].pic %><% } %>"></div>
                    <span>点 击 更 换 图 片</span>
                </a>
            </div>
            <div class="set">
                <ul>
                    <li  class="update" 
                    data_id="<% if(scopes.length){%><%= scopes[0]._id %><% } %>">
                    <% if(scopes.length){ %>更新<% } else{%>发布<% }%>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="service program">
        <h4 class="title">我们的服务</h4>
        <div class="add">＋</div>
            <ul>
                <% if(services.length){
                    services.forEach(function(service){ %>
                        <li class="list">
                            <div><b>最后更新时间：</b><span><%= moment(service.meta.updateAt).format('MM-DD') %></span> </div>
                            <div> 
                                <b>服务项目：</b> 
                                <span contenteditable="true" class="title content"><%= service.title %></span>
                            </div>
                            <div> 
                                <b>服务简介：</b> 
                                <div contenteditable="true" class="intro content"><%= service.intro %></div>
                            </div>
                            <div class="upload_form">
                                <a href="javascript:;" class="file_box">
                                    <input class="selectPic" type="file"/>
                                    <div class="coverPic" style="background-image: <%= service.pic %>"></div>
                                    <span>点 击 更 换 图 片</span>
                                </a>
                            </div>
                            <div class="set">
                                <ul>
                                    <li  class="update" data_id="<%= service._id %>">更新</li>
                                    <li class="del" data_id="<%= service._id %>">删除</li>
                                </ul>
                            </div>
                        </li>
                    <% })
                } %>
            </ul>
    </div>  

</section>
<script src="/library/js/jQuery.min.js"></script>
<script src="/admin/js/index.js"></script>
<script>
    
</script>
</body>

</html>